services:
  backend:
    build:
      context: ./apps/backend/
      dockerfile: Dockerfile
    env_file:
      - apps/backend/.env
    environment:
      PLACES_DB_API_CONFIG_FILE: /run/secrets/firebase_places_sa
      USERS_DB_API_CONFIG_FILE: /run/secrets/firebase_users_sa
    ports:
      - 5000:5000
    restart: unless-stopped
    secrets:
      - firebase_places_sa
      - firebase_users_sa
    healthcheck:
      test:
        - CMD
        - python
        - -c
        - "import socket; socket.create_connection(('localhost', 5000), 3)"
      interval: 30s
      timeout: 10s
      retries: 5
    depends_on:
      - llm

  llm:
    image: ghcr.io/ggerganov/llama.cpp:server-b4646@sha256:645767ffdc357b440d688f61bd752808a339f08dd022cc19d552f53b2c612853
    volumes:
      - ./models:/models
    ports:
      - 3000:3000
    command:
      - -m
      - /models/tinyllama-1.1b-chat-v1.0.Q4_0.gguf
      - --port
      - "3000"
      - -n
      - "512"

secrets:
  firebase_places_sa:
    file: ./apps/backend/pandapath-places-firebase-adminsdk-fbsvc-9c55f9e23a.json
  firebase_users_sa:
    file: ./apps/backend/pandapath-users-firebase-adminsdk-fbsvc-904023fff7.json
