<app-background [image]="'3.jpg'"></app-background>

<div class="container w-full mt-10 mx-auto flex flex-col items-center px-5">
  <h1 class="text-4xl font-bold text-center text-shadow my-5 text-white">Your profile</h1>
  <h3 class="text-2xl font-bold text-center text-shadow my-5 text-white">
    Hello {{ user?.name }} here are your saved preferences:
  </h3>
  <div class="flex flex-col bg-gray-100 bg-opacity-80 rounded-2xl
              max-w-lg p-5 w-full text-gray-700 text-lg font-semibold">
    <ng-container *ngIf="preferences">
      <div>Price level: <span class="font-bold">{{ preferences.money }}</span></div>
      <div>Needs:<span class="mx-2 font-bold" *ngFor="let need of preferences.needs">{{ need }}</span></div>
      <div class="flex flex-wrap">
        Types of places:
        <span class="mx-2 font-bold" *ngFor="let category of preferences.categories | keyvalue">
          {{ getCategoryName(categories, category.key) }}
          <span *ngIf="category.value!==[]">
            <span *ngFor="let subcategory of category.value" class="font-semibold">
              {{ getSubCategoryName(categories, category.key, subcategory) }}
            </span>
          </span>
        </span>
      </div>
      <div class="flex flex-wrap">
        Restaurant types:
        <span class="mx-2 font-bold" *ngFor="let category of preferences.categories_restaurant">
          {{ getCategoryName(categories_restaurant, category) }}
        </span>
      </div>
    </ng-container>
    <ng-container *ngIf="!preferences">
      You have not saved any preferences yet.
    </ng-container>
  </div>

  <div class="mt-5 flex flex-col">
    <h1 class="text-4xl font-bold text-center text-shadow my-5 text-white">Your trips</h1>
    <ng-container *ngIf="trips===undefined">
      <app-spinner></app-spinner>
    </ng-container>
    <ng-container *ngIf="trips===null">
      We could not fetch your trips.
    </ng-container>
    <ng-container *ngIf="trips?.length === 0">
      You have not saved any trips yet.
    </ng-container>
    <ng-container *ngIf="trips">
      <div class="w-full flex flex-wrap justify-center">
        <div *ngFor="let trip of trips" class="bg-white bg-opacity-90 p-5 rounded-xl text-gray-700 m-5
            cursor-pointer hover:bg-opacity-100" (click)="goToTrip(trip)">
          <span class="font-semibold">{{ trip.city_name }}</span>
          <span class="mx-1">{{ trip.days_len }}</span>
          <span>
            <ng-container *ngIf="trip.days_len>1; then days; else day"></ng-container>
            <ng-template #days>days<br/>{{ trip.dates?.[0] || 'Date unavailable' }} : {{ trip.dates?.[1] || 'Date unavailable' }}</ng-template>
            <ng-template #day>day<br/>{{ trip.dates?.[0] || 'Date unavailable' }}</ng-template>
          </span>
        </div>
      </div>
    </ng-container>
  </div>

</div>
