<div class="container px-10">
  <h1 class="text-3xl font-bold text-center text-shadow my-5">
    Write a note about you
  </h1>
  <h2 class="text-lg font-semibold text-center text-shadow my-5">
    We will analyse it with our NLP algorithms to establish your preferences
  </h2>
  <textarea class="p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
                    focus:border-blue-500 focus:outline-0"
            rows="10"
            placeholder="Write your note here..."
            [(ngModel)]="textNote">
  </textarea>
</div>
