export const environment = {
  backendHost: '',
  llamaHost: '',
  firebase: {
    apiKey: "",
    authDomain: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: "",
    appId: "",
    measurementId: ""
  },
  googlePlacesAPIKey: ''
};
